*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #333;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box{
    background-color: yellow;
    width: 150px;
    height: 150px;
    

    transition: all 1s ease-in;
    border-top: 5px solid blue;
    
   

}


.box:hover{
    /* transform: skew(30deg); */
    /* transform: rotate(30deg); */
    /* transform: scale(1.5); */
    /* transform: translateX(100px); */
    /* transform: translateX(-100px); */
    /* transform: translateY(100px); */
    /* transform: translateY(-100px); */
    /* transform: translate(100px,100px); */
     transform: rotateY(180deg) ;
}

